<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyperlocal Weather</title>
</head>

<body>
    <div data-id="WeatherData">

    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            let el = document.querySelector('[data-id=WeatherData]');
            let socket = io.connect('{{ API_URL }}');

            socket.on('weather_update', function (data) {
                el.innerText = JSON.stringify(data, null, 2);
            });
        });
    </script>

</body>

</html>